body{



   margin: 0;
   padding: 0;
 background-color:  #743E03;
  
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #743E03;
}

.flex-container>div {
  background-color: #743E03;
  width: 500px;
  margin: 10px;
	margin-top: -90px;

  font-size: 30px;
}
.flex-container>div1 {
  background-color: #743E03;
  width: 900px;
  
	margin-top: -100px;

  font-size: 30px;
color: #afaeb3;

}

a {font-size: 15px}
a:visited { text-decoration: none; color:#cac9cc; }
a:hover { text-decoration: none; color:#cac9cc; }
a:focus { text-decoration: none; color:#cac9cc; }
a:link { text-decoration: none; color:#cac9cc; }
a:hover, a:active { text-decoration: none; color:#cac9cc }

b {font-size: 40px}

c {font-size: 15px}
c:visited { text-decoration: none; color:#cac9cc; }
c:hover { text-decoration: none; color:#cac9cc; }
c:focus { text-decoration: none; color:#cac9cc; }
c:link { text-decoration: none; color:#cac9cc; }
c:hover, a:active { text-decoration: none; color:#cac9cc }

div.title {
	color: #e4e4e5;


    margin-bottom: 100px;

    background-color: #2A1201;


position: fixed;
height: 340px;
left: 0;
top: 340px;
width: 80px;
}

div.maintext {
    width:100%;
    margin-left: 200px;
    margin-top: 100px;
	height: 100%;


    background-color: #743E03;
}


